html {
  overflow-x: hidden;
}

body {
  background: #262a2c;
  color: #e8e9eb;
}

.caption-image {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
}
